<section>
    <div>
        <p>Traditional housing can be hard, we're here to help!</p>
        <div>
            <label for="city">Search by city: </label>
            <!---this is used to save the inputted city variable-->
            <input type="text" id="city" [(ngModel)]="city"> 
            <!---Right now, the search button does not no anything, we need to add a click handler-->
            <!---add click in the button, set it to searchHousing()-->
            <button (click)="searchHousing()">Search</button>
        </div>
    </div>
</section>
<section class="search-results">
    <ul>
        <!--*ngFor is a for loop in html, for each location in our searchResults, 
        i want to output a p tag -->
        <li *ngFor="let location of searchResults">
            <p><a [routerLink]="['/details', location.id]"> {{location.name}}, {{location.city}}</a></p> 
            <p class="description">{{location.description}}</p>
        </li>
    </ul>
</section>